@keyframes fade-in-left {
    from {
        opacity: 15%;
        left: -250px;
    }
    to {
        opacity: 100%;
        left: 0px;
    }
}


.fade-in-left {
    animation-name: fade-in-left;
    animation-duration: 2.5s;
}