* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50pt;
}

header {
  margin: 1rem 4rem 0rem 4rem;
}

body {
  background-color: rgb(50, 50, 50);
  margin: 0;
}

/*Id Styles*/

#content-window {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
  background-color: rgb(250, 250, 250);
  height: 100vh;
  padding: 2rem;
}

#intro-box {
  display: flex;
  flex: 1;
}

#left-intro {
  position: relative;
}

#name-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: min-content;
}

#about-me-box {
  /*Display*/
  display: flex;
  flex-direction: column;
  flex: 1;

  /*Style*/
  border-radius: 1rem;
  background-color: darksalmon;

  /*Spacing*/
  padding: 1rem;
  margin-top: 1rem;
}

#portfolio-box {
  /*Display*/
  display: flex;
  flex-direction: column;

  /*Style*/
  border-radius: 1rem;
  background-color: lightgrey;

  /*Spacing*/
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

#portfolio-card-holder {
  /*Display*/
  display: flex;
  flex-direction: row;

  padding-left: 1rem;
  padding-right: 1rem;
}

#window-stopper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 500;
}

/*Class Styles*/

.intro-name-fade-in-left {
  animation-name: intro-name-fade-in-left;
  animation-duration: 2.5s;
}

.header-centered {
  margin: 0 auto 0 auto;
}

.div-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-box {
    background-color: aqua;
    display: none;
    height: 80vh;
    width: 80vw;
    z-index: 999;
    border-radius: 1rem;
}

.expand-info-box {
    animation: info-box-expand;
    animation-duration: 1s;
}

.display-box {
  box-shadow: 2px 2px 4px darkgrey;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem;
  height: 15rem;
  width: 160px;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px darkgrey;
}

.hover-card:hover {
  transition: transform 0.2s;
  background-color: rgb(70, 116, 117);
  transform: scale(1.08);
}

.portfolio-card-image {
  height: 100px;
  width: 100px;
}
