*{
    font-family: Arial, Helvetica, sans-serif;
}


/*Id Styles*/

#content-window{
    display: flex;
    flex-direction: column;
}

#about-me-box{
    /*Display*/
    display: flex;
    flex-direction: column;
    
    /*Style*/
    border-radius: 1rem;
    background-color: darksalmon;

    /*Spacing*/
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

#portfolio-box{
    /*Display*/
    display: flex;
    flex-direction: column;

    /*Style*/
    border-radius: 1rem;
    background-color: lightgrey;

    /*Spacing*/
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

#portfolio-card-holder{
    /*Display*/
    display: flex;
    flex-direction: row;
}

/*Class Styles*/

.centered{
    align-self: center;
}